@{
    Layout = "_Layout";
}
@model UserMicroservice.Client.Models.User

@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/views/users/create.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container">
    <h3 class="mt-5">User registration</h3>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Role" class="form-label">Role</label>
            <input type="text" class="form-control" asp-for="Role" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Birthday" class="form-label">Date of birth</label>
            <input type="text" class="form-control" asp-for="Birthday" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CityId" class="form-label">City</label>
            <select class="form-control" asp-for="CityId">
            <option value="1">Ciudad de México</option>
            <option value="2">Guadalajara</option>
            <option value="3">Monterrey</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>
