/* _content/UserMicroservice.Client/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ioe8h31d24] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ioe8h31d24] {
  color: #0077cc;
}

.btn-primary[b-ioe8h31d24] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ioe8h31d24], .nav-pills .show > .nav-link[b-ioe8h31d24] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ioe8h31d24] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ioe8h31d24] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ioe8h31d24] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ioe8h31d24] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ioe8h31d24] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/UserMicroservice.Client/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.footer[b-dp67vvw0q7] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar[b-dp67vvw0q7] {
    background-color: #ff5733;
}

.navbar-brand[b-dp67vvw0q7] {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
}

.navbar-nav .nav-link[b-dp67vvw0q7] {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
}

.navbar-toggler-icon[b-dp67vvw0q7] {
    background-color: #fff;
}

a.navbar-brand[b-dp67vvw0q7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dp67vvw0q7] {
  color: #0077cc;
}

.btn-primary[b-dp67vvw0q7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dp67vvw0q7], .nav-pills .show > .nav-link[b-dp67vvw0q7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dp67vvw0q7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dp67vvw0q7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dp67vvw0q7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dp67vvw0q7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dp67vvw0q7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
